body{
background-color:#064F7C;
font-family: Microsoft JhengHei;
margin:0px;
max-width:100%;
}

#navbar1{
	height:8%;
}
#logo{
	height:85%;
	padding-left:10px;
	padding-top:5px;
}
#content{
	background-color:white;
	height:70%;
	margin:0 -20 0 -20px;
	text-align:center;
}
#product{
	height:100%;
}
#more{
	background:#FFD805;
color:#064F7C;
text-decoration:none;
border-radius:10px;
padding-top:5px;
padding-bottom:5px;
padding-left:15px;
padding-right:15px;
margin-top:50px;
margin-left:5%;
text-transform:uppercase;
font-weight:bold;
float:left;
}
#icons1{
	float:left;
	margin-left:50%;
	position: relative;
}
.icons{
	 position: relative;
	height:100px;
	width:100px;
	margin-left:30px;
	margin-top:30px;
	transition: transform .5s ease-out;
	float:left;
    }
	 .photo {
    position: absolute;
    top: 10px;
    
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }